.navbar {
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: .0125rem;
}

.navbar-nav >li{
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-brand img{
    height: 5rem;
    padding-left: 1.5rem;
}

