
/*Navi Bar Styling */

.navbar-custom {
    position: relative;
    background-image: linear-gradient(to bottom, #022a56,#c9d3dd);
}


.navbar-brand img {
    height: 3rem;
    padding-left: 3rem;
}

.navbar-collapse {
    text-align: center;
}

.nav-item {
    padding: 0.9rem;
}

.nav-link {
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: .02rem;
    
}
.nav-link:hover {
    background-color: #022a56;
    border-radius: 16px;
    padding: 6px 20px;
    text-align: center;
}

.link-type1 {
    color:#fdfdfd;
    
}

.link-type1:hover {
    color:#b8a46c
}

.link-type2 {
    color:#b8a46c;
}
.link-type2:hover {
    color:#fdfdfd;
}





